<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>
<ul>
  <table>
    <%= render @cart.line_items %>
  </table>

  <tr>
    <td class="total_line">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</ul>

<%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: 'Are you sure?'} %>